* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'RocknRoll One', sans-serif;*/
  font-family: 'Roboto', sans-serif;

}

.main-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
  background-color: #292827;
  height: 1000px;

  background-image: url("/images/space.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.menu-container {
  color: #FFE81F; /* Yellow */
  background-color: #000000;  /* Black */
  padding: 20px 0;
  width: 100%;
  font-size: 1.3em;
}

#type {
  margin-top: 10px;
  margin-bottom: 10px;
}

#number {
  margin-top: 10px;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Dela Gothic One', cursive;

}

form {
  display: flex;
  flex-direction: column;
  text-align: center;

  align-items: center;
  background-color: #333333; /* Black */
  color: #FFE81F; /* Yellow */
  padding-top: 20px;
  background: rgba(0, 0, 0, 0.7);
}

input {
  margin: 0px;
}

.crawler {
  width: 65%;
  padding-top: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8a8987;
  width: 40%;
  height: 70px;
  color: #ffffff;

  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.footer-link:visited {
  color: #ffffff;
}


.footer-link {
  text-decoration: underline;
  color: #ffffff;
}

.ranges {
  font-size: 80%;
}

label {
  padding: 10px;
}

.pure-form {
  width: 40%;

}

hr {
  width: 50%;
  margin-bottom: 20px;
}

#fetchResults {
  background-color: #333333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  align-items: center;
  color: #FFE81F;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}



/* Mobile Styles */
@media only screen and (max-width: 350px) {
  .pure-form {
    width: 90%;
  }
  h1 {
    font-size: 85%;
  }
  form {
    font-size: 70%;
  }
  .footer {
    width: 90%;
    font-size: 70%;
  }
  #fetchResults {
    width: 90%;
    text-align: center;
    font-size: 70%;
  }
  .crawler {
    width: 90%;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 350px) and (max-width: 960px) {
  .pure-form {
    width: 80%;
  }
  .footer {
    width: 80%;
  }
  #fetchResults {
    width: 80%;

  }
  .crawler {
    width: 80%;
  }
  * {
    font-size: 0.8 em;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}
